@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$background: linear-gradient(
    45deg,
    rgba(254, 246, 210, 0.53) 0%,
    rgba(254, 246, 210, 0.53) 14.286%,
    rgba(221, 240, 216, 0.53) 14.286%,
    rgba(221, 240, 216, 0.53) 28.572%,
    rgba(188, 233, 223, 0.53) 28.572%,
    rgba(188, 233, 223, 0.53) 42.858%,
    rgba(156, 227, 229, 0.53) 42.858%,
    rgba(156, 227, 229, 0.53) 57.144%,
    rgba(123, 220, 235, 0.53) 57.144%,
    rgba(123, 220, 235, 0.53) 71.42999999999999%,
    rgba(90, 214, 242, 0.53) 71.43%,
    rgba(90, 214, 242, 0.53) 85.71600000000001%,
    rgba(57, 207, 248, 0.53) 85.716%,
    rgba(57, 207, 248, 0.53) 100.002%
  ),
  linear-gradient(
    135deg,
    rgb(246, 99, 200) 0%,
    rgb(246, 99, 200) 12.5%,
    rgb(223, 98, 196) 12.5%,
    rgb(223, 98, 196) 25%,
    rgb(199, 97, 192) 25%,
    rgb(199, 97, 192) 37.5%,
    rgb(176, 96, 188) 37.5%,
    rgb(176, 96, 188) 50%,
    rgb(152, 95, 184) 50%,
    rgb(152, 95, 184) 62.5%,
    rgb(129, 94, 180) 62.5%,
    rgb(129, 94, 180) 75%,
    rgb(105, 93, 176) 75%,
    rgb(105, 93, 176) 87.5%,
    rgb(82, 92, 172) 87.5%,
    rgb(82, 92, 172) 100%
  );

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
  font-weight: lighter;
  @media (max-width: 1440px),
    (max-width: 1366px),
    (max-width: 1024px),
    (max-width: 768px),
    (max-width: 375px) {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: $background;
  }
  .game-container {
    z-index: -1;
    video,
    img {
      width: 100%;
      margin: 0;
      padding: 0;
      @media (max-width: 1440px) {
        box-shadow: 0px 0px 200px black;
      }
    }
    .game {
      z-index: 0;
      .character,
      .obstacle {
        width: 120px;
        height: 120px;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 80%;
        @media (max-width: 812px), (max-width: 375px), (max-width: 414px) {
          width: 75px;
          height: 75px;
        }
        @media (max-width: 736px) {
          width: 85px;
          height: 85px;
        }
        @media (max-width: 568px), (max-width: 320px) {
          width: 65px;
          height: 65px;
        }
        @media (max-width: 1440px),
          (max-width: 1366px),
          (max-width: 1024px),
          (max-width: 768px),
          (max-width: 375px) {
          box-shadow: none;
        }
        @media (max-width: 1112px) {
          top: 69%;
        }
        @media (max-width: 1024px) {
          top: 71%;
        }
        @media (max-width: 991px) {
          top: 65.5%;
        }
        @media (max-width: 812px) {
          top: 79%;
        }
        @media (max-width: 768px) {
          top: 62%;
        }
        @media (max-width: 736px) {
          top: 79%;
        }
        @media (max-width: 667px) {
          top: 76%;
        }
        @media (max-width: 568px) {
          top: 79%;
        }
        @media (max-width: 414px) {
          top: 56%;
        }
        @media (max-width: 412px) {
          top: 55%;
        }
        @media (max-width: 375px) {
          top: 55%;
        }
      }
      .character {
        left: 5%;
        z-index: 1;
      }
      .obstacle {
        left: 100%;
        animation: obstacle 3s infinite linear;
      }
      .powerup {
        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;
        padding-top: 3rem;
        position: fixed;
        top: 80%;
        left: 100%;
        display: block;
        @media (max-width: 1440px) {
          box-shadow: none;
        }
        @media (max-width: 1112px) {
          width: 50px;
        }
        @media (max-width: 869px) {
          width: 30px;
        }
        @media (max-width: 812px) {
          width: 30px;
          padding-top: 1.5rem;
        }
        @media (max-width: 768px) {
          width: 35px;
          padding-top: 1.5rem;
        }
        @media (max-width: 414px) {
          width: 25px;
          padding-top: 1rem;
        }
        @media (max-width: 412px) {
          width: 22px;
          padding-top: 0.5rem;
        }
        @media (max-width: 375px) {
          width: 23px;
          padding-top: 1rem;
        }
        @media (max-width: 320px) {
          width: 15px;
          padding-top: 1rem;
        }
        @media (max-width: 1112px) {
          top: 69%;
        }
        @media (max-width: 1024px) {
          top: 71%;
        }
        @media (max-width: 991px) {
          top: 66%;
        }
        @media (max-width: 812px) {
          top: 79%;
        }
        @media (max-width: 768px) {
          top: 62%;
        }
        @media (max-width: 736px) {
          top: 80%;
        }
        @media (max-width: 667px) {
          top: 76%;
        }
        @media (max-width: 568px) {
          top: 79%;
        }
        @media (max-width: 414px) {
          top: 56%;
        }
        @media (max-width: 375px) {
          top: 54%;
        }
        animation: powerup 3s infinite linear;
      }
      .delay {
        animation-delay: 7s;
        @media (max-width: 375px), (max-width: 414px) {
          display: none;
        }
      }
      .delay-powerup1 {
        animation-delay: 4.4s;
      }
      .delay-powerup2 {
        animation-delay: 4.6s;
      }
      .delay-powerup3 {
        animation-delay: 4.8s;
      }
      .delay-powerup4 {
        animation-delay: 5s;
      }
      .delay-powerup5 {
        animation-delay: 5.2s;
      }
      .delay-powerup6 {
        animation-delay: 5.4s;
      }
      .delay-powerup7 {
        animation-delay: 5.6s;
      }
      .delay-powerup8 {
        animation-delay: 5.8s;
      }
      .delay-powerup9 {
        animation-delay: 9.4s;
      }
      .delay-powerup10 {
        animation-delay: 9.6s;
      }
      .delay-powerup11 {
        animation-delay: 9.8s;
      }
      .animate {
        animation: jump 800ms;
        @media (max-width: 1112px) {
          animation: jump-ipad-air 800ms;
        }
        @media (max-width: 1024px) {
          animation: jump-ipad-landscape 800ms;
        }
        @media (max-width: 991px) {
          animation: jump-ipad-air-landscape 800ms;
        }
        @media (max-width: 869px) {
          animation: jump-oneplus 800ms;
        }
        @media (max-width: 812px) {
          animation: jump-iphonex 800ms;
        }
        @media (max-width: 768px) {
          animation: jump-ipad 800ms;
        }
        @media (max-width: 736px) {
          animation: jump-iphonese 800ms;
        }
        @media (max-width: 667px) {
          animation: jump-iphone6 800ms;
        }
        @media (max-width: 568px) {
          animation: jump-iphonese 800ms;
        }
        @media (max-width: 414px) {
          animation: jump-iphone6-vertical 800ms;
        }
        @media (max-width: 375px) {
          animation: jump-iphonex-vertical 1000ms;
        }
      }
      @keyframes obstacle {
        0% {
          left: 100%;
        }
        100% {
          left: -20%;
        }
      }
      @keyframes powerup {
        0% {
          left: 100%;
        }
        100% {
          left: -20%;
        }
      }
      @keyframes jump {
        0% {
          top: 80%;
        }
        40% {
          top: 40%;
        }
        100% {
          top: 80%;
        }
      }
      @keyframes jump-iphonex {
        0% {
          top: 79%;
        }
        40% {
          top: 30%;
        }
        100% {
          top: 79%;
        }
      }
      @keyframes jump-iphone6 {
        0% {
          top: 76%;
        }
        40% {
          top: 25%;
        }
        100% {
          top: 76%;
        }
      }
      @keyframes jump-iphonese {
        0% {
          top: 79%;
        }
        40% {
          top: 30%;
        }
        100% {
          top: 79%;
        }
      }
      @keyframes jump-iphone6-vertical {
        0% {
          top: 55%;
        }
        40% {
          top: 35%;
        }
        100% {
          top: 55%;
        }
      }
      @keyframes jump-iphonex-vertical {
        0% {
          top: 54%;
        }
        40% {
          top: 35%;
        }
        50% {
          top: 35%;
        }
        55% {
          top: 35%;
        }
        100% {
          top: 54%;
        }
      }
      @keyframes jump-oneplus {
        0% {
          top: 70.5%;
        }
        40% {
          top: 10%;
        }
        50% {
          top: 10%;
        }
        100% {
          top: 70.5%;
        }
      }
      @keyframes jump-ipad {
        0% {
          top: 62%;
        }
        40% {
          top: 35%;
        }
        100% {
          top: 62%;
        }
      }
      @keyframes jump-ipad-landscape {
        0% {
          top: 71%;
        }
        40% {
          top: 35%;
        }
        100% {
          top: 71%;
        }
      }
      @keyframes jump-ipad-air {
        0% {
          top: 69%;
        }
        40% {
          top: 35%;
        }
        100% {
          top: 69%;
        }
      }
      @keyframes jump-ipad-air-landscape {
        0% {
          top: 65.5%;
        }
        40% {
          top: 35%;
        }
        100% {
          top: 65.5%;
        }
      }
    }
    .score {
      position: fixed;
      top: 5%;
      right: 3%;
      font-size: medium;
      color: white;
      @media (max-width: 869px) {
        font-size: small;
      }
    }
  }
}

section {
  display: none;
}

.rotate {
  display: none;
  @media (max-width: 414px) {
    display: block;
    position: fixed;
    bottom: 2%;
    text-align: center;
    line-height: 25px;
    img {
      width: 45px;
      margin: 1rem;
    }
    h3 {
      font-size: small;
      font-weight: lighter;
      padding: 0.6rem;
    }
  }
}

.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  .modal {
    background: black;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    img {
      width: 200px;
    }
    h3 {
      font-size: small;
      color: white;
      margin: 1rem;
      margin-bottom: 1.5rem;
    }
    a {
      background-image: $background;
      padding: 1rem;
      border-radius: 1rem;
      text-decoration: none;
      font-size: x-small;
      cursor: pointer;
      color: black;
    }
    a:hover {
      color: black;
    }
    a:active {
      transform: scale(0.95);
    }
  }
}
