* {
  margin: 0;
  padding: 0;
}

body {
  .game-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .game {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      .character,
      .obstacle {
        width: 120px;
        height: 120px;
        margin: 0;
        padding: 0;
        @media (max-height: 414px) {
          width: 85px;
          height: 85px;
        }
        @media (max-height: 375px) {
          width: 75px;
          height: 75px;
        }
        @media (max-height: 320px) {
          width: 65px;
          height: 65px;
        }
      }
      .character {
        position: fixed;
        top: 80%;
        left: 5%;
        z-index: 1;
      }
      .obstacle {
        position: fixed;
        top: 80%;
        left: 105%;
        animation: obstacle 3s infinite linear;
      }
      .delay {
        animation-delay: 5s;
      }
      .animate {
        animation: jump 1s;
      }
      @keyframes obstacle {
        0% {
          left: 100%;
        }
        100% {
          left: -20%;
        }
      }
      @keyframes jump {
        0% {
          top: 80%;
        }
        40% {
          top: 40%;
        }
        100% {
          top: 80%;
        }
      }
    }
  }
}
