@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
  font-weight: lighter;
}

@media (min-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, #f663c8 0%, #f663c8 12.5%, #df62c4 12.5%, #df62c4 25%, #c761c0 25%, #c761c0 37.5%, #b060bc 37.5%, #b060bc 50%, #985fb8 50%, #985fb8 62.5%, #815eb4 62.5%, #815eb4 75%, #695db0 75%, #695db0 87.5%, #525cac 87.5%, #525cac 100%);
  }
}

@media (max-width: 420px) {
  body .game-container {
    display: none;
  }
}

@media (min-width: 414px) {
  body .game-container {
    z-index: -1;
  }
  body .game-container video,
  body .game-container img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 414px) and (max-width: 1440px) {
  body .game-container video,
  body .game-container img {
    -webkit-box-shadow: 0px 0px 200px black;
            box-shadow: 0px 0px 200px black;
  }
}

@media (min-width: 414px) {
  body .game-container .game {
    z-index: 0;
  }
  body .game-container .game .character,
  body .game-container .game .obstacle {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 80%;
  }
}

@media (min-width: 414px) and (max-width: 869px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    width: 85px;
    height: 85px;
  }
}

@media (min-width: 414px) and (max-width: 568px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 414px) and (max-width: 1440px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (min-width: 414px) and (max-width: 1112px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 69%;
  }
}

@media (min-width: 414px) and (max-width: 1024px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 71%;
  }
}

@media (min-width: 414px) and (max-width: 991px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 65.5%;
  }
}

@media (min-width: 414px) and (max-width: 869px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 75%;
  }
}

@media (min-width: 414px) and (max-width: 812px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 79%;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 62%;
  }
}

@media (min-width: 414px) and (max-width: 736px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 79%;
  }
}

@media (min-width: 414px) and (max-width: 667px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 76%;
  }
}

@media (min-width: 414px) and (max-width: 568px) {
  body .game-container .game .character,
  body .game-container .game .obstacle {
    top: 79%;
  }
}

@media (min-width: 414px) {
  body .game-container .game .character {
    left: 5%;
    z-index: 1;
  }
  body .game-container .game .obstacle {
    left: 100%;
    -webkit-animation: obstacle 3s infinite linear;
            animation: obstacle 3s infinite linear;
  }
  body .game-container .game .powerup {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    position: fixed;
    top: 80%;
    left: 100%;
    display: block;
    -webkit-animation: powerup 3s infinite linear;
            animation: powerup 3s infinite linear;
  }
}

@media (min-width: 414px) and (max-width: 1440px) {
  body .game-container .game .powerup {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (min-width: 414px) and (max-width: 1112px) {
  body .game-container .game .powerup {
    width: 50px;
  }
}

@media (min-width: 414px) and (max-width: 869px) {
  body .game-container .game .powerup {
    width: 30px;
  }
}

@media (min-width: 414px) and (max-width: 812px) {
  body .game-container .game .powerup {
    width: 30px;
    padding-top: 1.5rem;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  body .game-container .game .powerup {
    width: 35px;
    padding-top: 1.5rem;
  }
}

@media (min-width: 414px) and (max-width: 1112px) {
  body .game-container .game .powerup {
    top: 69%;
  }
}

@media (min-width: 414px) and (max-width: 1024px) {
  body .game-container .game .powerup {
    top: 71%;
  }
}

@media (min-width: 414px) and (max-width: 991px) {
  body .game-container .game .powerup {
    top: 66%;
  }
}

@media (min-width: 414px) and (max-width: 812px) {
  body .game-container .game .powerup {
    top: 79%;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  body .game-container .game .powerup {
    top: 62%;
  }
}

@media (min-width: 414px) and (max-width: 736px) {
  body .game-container .game .powerup {
    top: 80%;
  }
}

@media (min-width: 414px) and (max-width: 667px) {
  body .game-container .game .powerup {
    top: 76%;
  }
}

@media (min-width: 414px) and (max-width: 568px) {
  body .game-container .game .powerup {
    top: 79%;
  }
}

@media (min-width: 414px) {
  body .game-container .game .delay {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
}

@media (min-width: 414px) and (max-width: 414px) {
  body .game-container .game .delay {
    display: none;
  }
}

@media (min-width: 414px) {
  body .game-container .game .delay-powerup1 {
    -webkit-animation-delay: 4.4s;
            animation-delay: 4.4s;
  }
  body .game-container .game .delay-powerup2 {
    -webkit-animation-delay: 4.6s;
            animation-delay: 4.6s;
  }
  body .game-container .game .delay-powerup3 {
    -webkit-animation-delay: 4.8s;
            animation-delay: 4.8s;
  }
  body .game-container .game .delay-powerup4 {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  body .game-container .game .delay-powerup5 {
    -webkit-animation-delay: 5.2s;
            animation-delay: 5.2s;
  }
  body .game-container .game .delay-powerup6 {
    -webkit-animation-delay: 5.4s;
            animation-delay: 5.4s;
  }
  body .game-container .game .delay-powerup7 {
    -webkit-animation-delay: 5.6s;
            animation-delay: 5.6s;
  }
  body .game-container .game .delay-powerup8 {
    -webkit-animation-delay: 5.8s;
            animation-delay: 5.8s;
  }
  body .game-container .game .delay-powerup9 {
    -webkit-animation-delay: 9.4s;
            animation-delay: 9.4s;
  }
  body .game-container .game .delay-powerup10 {
    -webkit-animation-delay: 9.6s;
            animation-delay: 9.6s;
  }
  body .game-container .game .delay-powerup11 {
    -webkit-animation-delay: 9.8s;
            animation-delay: 9.8s;
  }
  body .game-container .game .animate {
    -webkit-animation: jump 800ms;
            animation: jump 800ms;
  }
}

@media (min-width: 414px) and (max-width: 1112px) {
  body .game-container .game .animate {
    -webkit-animation: jump-ipad-air 800ms;
            animation: jump-ipad-air 800ms;
  }
}

@media (min-width: 414px) and (max-width: 1024px) {
  body .game-container .game .animate {
    -webkit-animation: jump-ipad-landscape 800ms;
            animation: jump-ipad-landscape 800ms;
  }
}

@media (min-width: 414px) and (max-width: 991px) {
  body .game-container .game .animate {
    -webkit-animation: jump-ipad-air-landscape 800ms;
            animation: jump-ipad-air-landscape 800ms;
  }
}

@media (min-width: 414px) and (max-width: 869px) {
  body .game-container .game .animate {
    -webkit-animation: jump-oneplus 800ms;
            animation: jump-oneplus 800ms;
  }
}

@media (min-width: 414px) and (max-width: 812px) {
  body .game-container .game .animate {
    -webkit-animation: jump-iphonex 800ms;
            animation: jump-iphonex 800ms;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  body .game-container .game .animate {
    -webkit-animation: jump-ipad 800ms;
            animation: jump-ipad 800ms;
  }
}

@media (min-width: 414px) and (max-width: 736px) {
  body .game-container .game .animate {
    -webkit-animation: jump-iphonese 800ms;
            animation: jump-iphonese 800ms;
  }
}

@media (min-width: 414px) and (max-width: 667px) {
  body .game-container .game .animate {
    -webkit-animation: jump-iphone6 800ms;
            animation: jump-iphone6 800ms;
  }
}

@media (min-width: 414px) and (max-width: 568px) {
  body .game-container .game .animate {
    -webkit-animation: jump-iphonese 800ms;
            animation: jump-iphonese 800ms;
  }
}

@media (min-width: 414px) {
  @-webkit-keyframes obstacle {
    0% {
      left: 100%;
    }
    100% {
      left: -20%;
    }
  }
  @keyframes obstacle {
    0% {
      left: 100%;
    }
    100% {
      left: -20%;
    }
  }
  @-webkit-keyframes powerup {
    0% {
      left: 100%;
    }
    100% {
      left: -20%;
    }
  }
  @keyframes powerup {
    0% {
      left: 100%;
    }
    100% {
      left: -20%;
    }
  }
  @-webkit-keyframes jump {
    0% {
      top: 80%;
    }
    40% {
      top: 40%;
    }
    100% {
      top: 80%;
    }
  }
  @keyframes jump {
    0% {
      top: 80%;
    }
    40% {
      top: 40%;
    }
    100% {
      top: 80%;
    }
  }
  @-webkit-keyframes jump-iphonex {
    0% {
      top: 79%;
    }
    40% {
      top: 30%;
    }
    100% {
      top: 79%;
    }
  }
  @keyframes jump-iphonex {
    0% {
      top: 79%;
    }
    40% {
      top: 30%;
    }
    100% {
      top: 79%;
    }
  }
  @-webkit-keyframes jump-iphone6 {
    0% {
      top: 76%;
    }
    40% {
      top: 25%;
    }
    100% {
      top: 76%;
    }
  }
  @keyframes jump-iphone6 {
    0% {
      top: 76%;
    }
    40% {
      top: 25%;
    }
    100% {
      top: 76%;
    }
  }
  @-webkit-keyframes jump-iphonese {
    0% {
      top: 79%;
    }
    40% {
      top: 30%;
    }
    100% {
      top: 79%;
    }
  }
  @keyframes jump-iphonese {
    0% {
      top: 79%;
    }
    40% {
      top: 30%;
    }
    100% {
      top: 79%;
    }
  }
  @-webkit-keyframes jump-oneplus {
    0% {
      top: 75%;
    }
    40% {
      top: 10%;
    }
    100% {
      top: 75%;
    }
  }
  @keyframes jump-oneplus {
    0% {
      top: 75%;
    }
    40% {
      top: 10%;
    }
    100% {
      top: 75%;
    }
  }
  @-webkit-keyframes jump-ipad {
    0% {
      top: 62%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 62%;
    }
  }
  @keyframes jump-ipad {
    0% {
      top: 62%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 62%;
    }
  }
  @-webkit-keyframes jump-ipad-landscape {
    0% {
      top: 71%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 71%;
    }
  }
  @keyframes jump-ipad-landscape {
    0% {
      top: 71%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 71%;
    }
  }
  @-webkit-keyframes jump-ipad-air {
    0% {
      top: 69%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 69%;
    }
  }
  @keyframes jump-ipad-air {
    0% {
      top: 69%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 69%;
    }
  }
  @-webkit-keyframes jump-ipad-air-landscape {
    0% {
      top: 65.5%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 65.5%;
    }
  }
  @keyframes jump-ipad-air-landscape {
    0% {
      top: 65.5%;
    }
    40% {
      top: 35%;
    }
    100% {
      top: 65.5%;
    }
  }
  body .game-container .score {
    position: fixed;
    top: 5%;
    right: 3%;
    font-size: medium;
    color: white;
  }
}

@media (min-width: 414px) and (max-width: 869px) {
  body .game-container .score {
    font-size: small;
  }
}

section {
  display: none;
}

.rotate {
  display: none;
  z-index: 11;
}

@media (max-width: 414px) {
  .rotate {
    display: block;
    position: fixed;
    bottom: 2%;
    text-align: center;
    line-height: 25px;
  }
  .rotate img {
    width: 45px;
    margin: 1rem;
  }
  .rotate h3 {
    font-size: small;
    font-weight: lighter;
    padding: 0.6rem;
  }
}

.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal-container .modal {
  background: black;
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
}

.modal-container .modal img {
  width: 200px;
}

.modal-container .modal h3 {
  font-size: small;
  color: white;
  margin: 1rem;
  margin-bottom: 1.5rem;
}

.modal-container .modal a {
  background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, #f663c8 0%, #f663c8 12.5%, #df62c4 12.5%, #df62c4 25%, #c761c0 25%, #c761c0 37.5%, #b060bc 37.5%, #b060bc 50%, #985fb8 50%, #985fb8 62.5%, #815eb4 62.5%, #815eb4 75%, #695db0 75%, #695db0 87.5%, #525cac 87.5%, #525cac 100%);
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: x-small;
  cursor: pointer;
  color: black;
}

.modal-container .modal a:hover {
  color: black;
}

.modal-container .modal a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (max-width: 420px) {
  .modal-container .modal a {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */